<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <%- partial('_partial/post/gallery') %>
    <h1 style="margin-top:0">▨ Friendly links </h1>
    <img class="no-box" style="border-radius:2px;border:4px solid #ffffff;width:100%;" src="/images/friends.png">
    <h3 style="margin-bottom: 20px; margin-top: 20px">Here's my friends</h3>
    <ul id="friendly_links">
        <% for (var name in site.data.links) { %>
            <li>
                <a href="<%= site.data.links[name].url %>" target="_blank">
                    <div class="link_content">
                        <span class="title"><%= name %></span>
                        <span class="desc"><%= site.data.links[name].desc
                                    ?  site.data.links[name].desc
                                    : '作者很懒，什么也没留下' %></span>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
    <h3 style="margin-bottom: 10px; margin-top: 40px">How to exchange links?</h3>
    <div class="content" itemprop="articleBody">
        <%- page.content %>
    </div>
</article>
<%- partial('_partial/comments') %>
